@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-consolas: "Inconsolata", "sans-serif";
  --color-pastel-green: #C9E4DE;
  --color-pastel-blue: #C6DEF1;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ai-response {
  width: 70%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
  font-size: 75px;
}

#text-area {
  width: 75%;
  background-color: white;
}


#img-area {
  width: 50%;
}

#my-header:hover {
  color: grey;
}

@media (500px <= width <= 900px) {
  #text-area {
    width: 100vh;
  }
  #text-area textarea {
    width: 85%;
  }
  #my-header {
    font-size: 2.75rem;
    padding-top: 1rem;
  }
  #img-area {
    width: 0;
  }
  #app-explanation {
    font: small;
    width: 75%;
  }
  #ai-vids-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gemini_output div {
    width: auto;
    height: auto;
  }
  #ai-vids-container h1 {
    font-size: 1.75rem;
    overflow-y: auto;
  }
  #ai-response {
    width: 85%;
    height: ;
    height: fit-content;
    overflow-y: auto;
  }
  #video-containers div div {
    width: 100%;
    font-size: 0.7rem;
  }
  #video-containers div div img {
    height: 115px;
    width: 175px;
  }
}