name: Automated UI Playwright Tests
on: [ push ]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: Setup node environment
              uses: actions/setup-node@v4
              with:
                node-version: lts/*
            - name: Install dependecies
              working-directory: ./test-suite
              run: npm ci
            - name: Install Playwright Browsers
              run: npx playwright install --with-deps
            - name: Run playwright tests
              working-directory: ./test-suite
              run: npx playwright test
            - name: Upload Playwright Test Report
              uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                name: playwright-report
                path: playwright-report/
                retention-days: 30